.App {
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
}
/* Chat styles */
.App .react-chatbot-kit-chat-header {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  background-color: #e6375a;
  border-radius: 0;
}
.App .react-chatbot-kit-chat-bot-avatar-container {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-image: url(./assets/bot-icon.jpg);
}
.App .react-chatbot-kit-chat-bot-avatar-letter {
	visibility: hidden;
}

.App .react-chatbot-kit-user-avatar-container {
	width: 50px;
	height: 50px;
	background-position: center;
	background-size: contain;
	background-image: url(./assets/user-icon.jpg);
}
.App .react-chatbot-kit-user-avatar-icon {
	visibility: hidden;
}

.App .react-chatbot-kit-chat-container {
  width: 100vw;
  height: 100vh;
}
.App .react-chatbot-kit-chat-message-container {
  height: 87vh;
  background-color: #1f91e7;
}
.App .react-chatbot-kit-chat-bot-message-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: min-content;
}
.App .react-chatbot-kit-chat-input {
  border-bottom-left-radius: inherit;
  outline: none;
	position: fixed;
	padding: 13px;
  bottom: 0;
}
.App .react-chatbot-kit-chat-btn-send {
  border-radius: inherit;
  position: fixed;
  background-color: #e6375a;
  bottom: 0;
  right: 0;
  padding: 12px;
}

.options {
  padding-bottom: 15px;
}

.options-header {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-item {
  padding: 8px 15px;
  background-color: #2273c4;
  border-radius: 25px;
  color: #fff;
  font-size: 0.9rem;
  margin: 3px;
  box-shadow: inset 0px 0px 0px #e6375a;
  transition: all 0.5s;
  cursor: pointer;
}

.option-item:hover {
  box-shadow: inset 195px 0px 0px #e6375a;
  color: #ffffff;
}

.url-link {
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #2273c4;
  display: flex;
  align-items: center;
  color: #fff;
}

.url-header {
  font-size: 1.2rem;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .App .react-chatbot-kit-chat-message-container {
    height: 95vh;
  }
}
